<div class="top-page">
  <h1>whisky shop</h1>
  <p>whisky販売専門のECサイトです</p>
</div>
<div class="main-area">
  <div class="aside">
    <input type="text">
    <ul class="sort-list">
      <li><%= link_to("種類で探す", "#") %></li>
      <li><%= link_to("産地で探す", "#") %></li>
      <li><%= link_to("価格帯で探す", "#") %></li>
    </ul>
  </div>
  <div class="product-list">
    <h2>商品一覧</h2>
  </div>
</div>
