// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header {
  background-color: #ac7c40;

  .header-container {
    display: flex;
    justify-content: space-between;
    width: 920px;
    margin: auto;

    .logo {
      width: 50%;
      padding: 10px;
    }

    .list {
      width: 50%;
      padding: 10px;
      display: flex;
      justify-content: space-around;
    }
  }
}

.top-page {
  h1 {
    text-align: center;
    padding: 25px 0;
  }

  p {
    text-align: center;
  }
}

.main-area {
  display: flex;
  margin: 75px 0 0 0;

  .aside {
    width: 25%;
    border-right: 1px solid #ac7c40;

    .sort-list {
      li {
        padding: 10px 0 10px 10px;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }

  .product {
    width: 75%;
    background-color: rgb(236, 231, 231);

    h2 {
      text-align: center;
    }

    .item-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 10px;

      .item {
        box-sizing: border-box;
        // border: #ac7c40 1px solid;
        background-color: #fff;

        img {
          width: 200px;
          height: auto;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}
