<header>
  <div class="header-container">
    <div class="logo">
      <h1><%= link_to("whisky", root_path) %></h1>
    </div>
    <ul class="list">
      <li>signup</li>
      <li>login</li>
      <li>cart</li>
    </ul>
  </div>
</header>
